@media (max-width: 768px) {
  .newsletter-container {
    height: 12.3rem;
    width: 100%;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    margin-top: 10.6rem;

    display: grid;
  }

  .newsletter-items-wrapper {
    display: grid;
  }

  .newsletter-container strong {
    font-weight: 500;
    font-size: 0.87em;

    text-transform: uppercase;

    font-family: "Roboto", sans-serif;

    padding-left: 1.5em;

    margin-top: 1.3em;
  }

  .input-button-wrapper {
    display: grid;

    margin: 0 1.5rem;
  }

  .newsletter-container input[type="email"] {
    height: 3.1rem;
    width: 95.5%;

    outline: 0;
  }

  .newsletter-container button {
    height: 3.1rem;
    width: 100%;
  }

  .newsletter-container input[type="email"] {
    border: 1px solid #c4c4c4;

    border-radius: 0;

    padding-left: 1em;
  }

  .newsletter-container input[type="email"]::placeholder {
    color: #c4c4c4;

    font-size: 0.87em;
  }

  .newsletter-container button {
    background-color: #00c8ff;

    color: #fff;

    font-size: 0.87em;
    font-weight: 700;

    border: 0;

    text-transform: uppercase;
  }

  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 88%;
    top: 80.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .arrow-up-icon {
    scroll-behavior: smooth;

    cursor: pointer;
  }

  .whatsapp-icon {
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .newsletter-container {
    height: 6.3rem;
    width: 100%;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    display: flex;
    justify-content: center;

    position: relative;
  }

  .newsletter-items-wrapper {
    display: flex;
    flex-direction: column;

    width: 31rem;
  }

  .input-button-wrapper {
    height: 4em;

    margin-top: 0.3em;
  }

  .newsletter-container strong {
    font-weight: 500;
    font-size: 0.87em;

    text-transform: uppercase;

    font-family: "Roboto", sans-serif;

    margin-top: 1.3em;
  }

  .newsletter-container input[type="email"],
  button {
    height: 2.6rem;

    outline: 0;

    border-radius: 0.2rem;
  }

  .newsletter-container input[type="email"] {
    border: 1px solid #c4c4c4;

    padding-left: 1em;

    width: 21.3rem;
  }

  .newsletter-container input[type="email"]::placeholder {
    color: #c4c4c4;

    font-size: 0.87em;
  }

  .newsletter-container button {
    background-color: #00c8ff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #fff;

    margin-left: 1em;

    font-size: 0.87em;
    font-weight: 700;

    width: 7.8rem;

    border: 0;

    text-transform: uppercase;

    cursor: pointer;
  }

  .newsletter-container button:hover {
    background-color: #60d7ff;

    transition: 0.3s;
  }

  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 94.3%;
    bottom: 2.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .arrow-up-icon {
    scroll-behavior: smooth;

    cursor: pointer;
  }

  .whatsapp-icon {
    cursor: pointer;
  }
}

@media (min-width: 806px) and (max-width: 900px) {
  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 94.3%;
    bottom: 2.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* ### Only for Surface Pro 7 ### */
@media (min-width: 912px) and (max-width: 912px) {
  .newsletter-container {
    height: 6.3rem;
    width: 99%;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    margin-top: 25.5rem;

    display: flex;
    justify-content: center;
  }

  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 53.8rem;
    bottom: 2.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* ### Only for iPad Air ### */
@media (min-width: 820px) and (max-width: 820px) {
  /* The style below will be in use when some text or the form is appearing */
  .newsletter-container {
    height: 6.3rem;
    width: 99%;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    margin-top: calc(15.5rem + 10.6rem);

    display: flex;
    justify-content: center;
  }

  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 47.7rem;
    bottom: 2.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* ### Only for 1024px devices ### */
@media (min-width: 901px) and (max-width: 1024px) {
  .arrow_up-and-whatsapp-wrapper {
    width: 2.3rem;
    height: 6.1rem;

    position: absolute;

    left: 95.3%;
    bottom: 2.1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
