.container {
  display: flex;
  flex-direction: column;
}

/* ### PAGE CONTENT STYLING ### */
@font-face {
  font-family: Helvetica;
  src: url(../../fonts/HelveticaNeueLTStd-Th.otf);
}

@media (min-width: 769px) {
  .upper-icons-wrapper {
    width: 9.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.87rem;
    padding-left: 8rem;
  }

  .upper-icons-wrapper p {
    font-size: 0.87em;
    font-weight: 400;

    color: #c4c4c4;

    text-transform: uppercase;
  }

  .institucional-content {
    margin-top: 5rem;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .institucional-title {
    text-transform: uppercase;

    font-weight: 300;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;

    letter-spacing: 0.1em;

    color: #292929;
  }

  article {
    width: 80%;

    margin-top: 2.5rem;
    margin-left: 8.25rem;
    margin-left: 8.25rem;

    margin: 2.5rem 8.25rem;

    display: flex;
  }

  .list-wrapper {
    height: 12.1rem;

    border-right: 1px solid #e5e5e5;
  }

  .list-wrapper .link {
    text-decoration: none;
  }

  article ul {
    height: 12.8rem;

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
  }

  article ul li {
    list-style: none;

    height: 2.4em;
    width: 16.8em;

    padding-left: 1em;

    color: #7d7d7d;

    font-weight: 400;
    font-size: 0.87em;

    display: flex;
    align-items: center;
  }

  article ul li:hover {
    color: #fff;

    cursor: pointer;

    font-weight: 700;

    background-color: #00c8ff;
  }

  .texts-wrapper p {
    font-weight: 400;
    font-size: 0.81rem;

    color: #7d7d7d;
  }

  .texts-wrapper strong {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .upper-icons-wrapper {
    width: 9.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.87rem;
    padding-left: 1rem;
  }

  .upper-icons-wrapper p {
    font-size: 0.87em;
    font-weight: 400;

    color: #c4c4c4;

    text-transform: uppercase;
  }

  .institucional-content {
    margin-top: 2rem;
    width: 99%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .institucional-title {
    text-transform: uppercase;

    font-weight: 300;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;

    letter-spacing: 0.1em;

    color: #292929;
  }

  article {
    width: 90%;

    margin-top: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-wrapper {
    margin-bottom: 3rem;
  }

  .list-wrapper .link {
    text-decoration: none;
  }

  .list-wrapper ul {
    height: 12.8rem;
    width: 85vw;

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
  }

  .list-wrapper ul li {
    list-style: none;

    height: 2.4em;
    width: 100%;

    padding-left: 1em;

    color: #7d7d7d;

    font-weight: 400;
    font-size: 0.87em;

    display: flex;
    align-items: center;
  }

  .list-wrapper ul li:hover {
    color: #fff;

    cursor: pointer;

    font-weight: 700;

    background-color: #00c8ff;
  }

  .texts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texts-wrapper strong {
    font-size: 1.5rem;

    line-height: 1.75rem;
  }

  .texts-wrapper p {
    font-weight: 400;
    font-size: 0.81rem;

    color: #7d7d7d;

    text-align: justify;
  }

  .texts-wrapper p:nth-child(4) {
    display: none;
  }
}
