@media (max-width: 768px) {
  .social-container {
    width: 99%;
    height: 13.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pages-links-wrapper {
    width: 88%;
  }

  .pages-links {
    margin-bottom: 1.5em;

    display: flex;
    justify-content: space-between;
  }

  .pages-links p {
    display: none;
  }

  .pages-links:first-child {
    margin-top: 1.5rem;
  }

  .pages-links strong {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.87em;
  }

  .pages-links-contact {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5em;
  }

  .pages-links-contact p {
    display: none;
  }

  .pages-links-contact strong {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.87em;
  }

  .plus-icon {
    width: 0.4em;
    height: 0.5em;
  }

  .social-links {
    width: 90%;
  }

  .social-links ul {
    margin: 0;
    padding: 0;
  }

  .social-links li {
    list-style: none;

    display: inline-block;

    margin-right: 0.6em;
  }

  .social-links-wrapper {
    width: 16em;

    margin: 0;
  }

  .website {
    display: none;
  }
}

@media (min-width: 769px) {
  .social-container {
    width: 99%;
    height: 12.4rem;

    display: flex;
    justify-content: center;
  }

  .pages-links p {
    font-weight: 400;
    font-family: "Roboto";
    font-size: 0.75rem;

    color: #303030;
  }

  .pages-links {
    margin-top: 1.5rem;
    width: 12rem;
  }

  .pages-links strong {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.87em;

    text-transform: uppercase;
  }

  .pages-links-contact {
    margin-top: 1.5rem;
    width: 12rem;

    padding-right: 0.2em;
  }

  .pages-links-contact p {
    font-weight: 400;
    font-family: "Roboto";
    font-size: 0.75rem;

    color: #303030;

    width: 9.7rem;
  }

  .pages-links-contact p:nth-child(even) {
    color: #303030;
    font-weight: 500;
  }

  .pages-links-contact strong {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.87em;

    width: 10rem;

    text-transform: uppercase;
  }

  .pages-links-wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 28rem;

    margin-left: 1.6rem;
  }

  .seja-revendedor {
    text-decoration: underline;
  }

  .plus-icon {
    width: 0.4em;
    height: 0.5em;

    display: none;
  }

  .social-links {
    width: 12rem;

    margin-left: 3.5rem;

    padding-top: 1.5rem;
  }

  .social-links img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .social-links ul {
    width: 12rem;
    margin: 0;
    padding: 0;

    padding-left: 0.2rem;
  }

  .social-links li {
    list-style: none;

    display: inline-flex;

    margin-right: 0.6em;
  }

  .social-links strong {
    font-weight: 400;
    font-size: 0.87rem;
  }
}

/* ### Only for Surface Pro 7 ### */
@media (min-width: 912px) and (max-width: 912px) {
  .social-container {
    width: 99%;
    height: 12.4rem;

    display: flex;
    justify-content: center;
  }
}
