.search-bar {
  height: 2.25em;
  width: 100%;

  margin: 0rem auto 1rem auto;

  padding: 1rem;

  background-color: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 0.3em;

  outline: 0;

  background-image: url("../../icons/others/search-icon.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 97%;
}

@media (min-width: 769px) and (max-width: 805px) {
  .search-bar {
    height: 2.25em;
    width: 19rem;

    margin: 0rem auto 1rem auto;

    padding: 1rem;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 0.3em;

    outline: 0;

    position: absolute;

    top: 1.7rem;
    left: 19rem;

    background-image: url("../../icons/others/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
  }
}

@media (min-width: 806px) and (max-width: 900px) {
  .search-bar {
    height: 2.25em;
    width: 21.4rem;

    margin: 0rem auto 1rem auto;

    padding: 1rem;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 0.3em;

    outline: 0;

    position: absolute;

    top: 1.7rem;
    left: 17.8rem;

    background-image: url("../../icons/others/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .search-bar {
    height: 2.25em;
    width: 21.4rem;

    margin: 0rem auto 1rem auto;

    padding: 1rem;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 0.3em;

    outline: 0;

    position: absolute;

    top: 1.7rem;
    left: 21.5rem;

    background-image: url("../../icons/others/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
  }
}

@media (min-width: 1024px) {
  .search-bar {
    height: 2.25em;
    width: 21.4rem;

    margin: 0rem auto 1rem auto;

    padding: 1rem;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 0.3em;

    outline: 0;

    position: absolute;

    top: 1.7rem;
    left: 23rem;

    background-image: url("../../icons/others/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
  }
}

@media (min-width: 1280px) {
  .search-bar {
    height: 2.25em;
    width: 21.4rem;

    margin: 0rem auto 1rem auto;

    padding: 1rem;

    background-color: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 0.3em;

    outline: 0;

    position: absolute;

    top: 1.7rem;
    left: 32rem;

    background-image: url("../../icons/others/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
  }
}
