@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

header {
  height: 8.6rem;

  background-color: #00c8ff;

  display: flex;
  flex-direction: column;

  padding: 0rem 1em 0rem 1em;
}

.menu-mobile {
  position: absolute;

  left: 0rem;

  display: none;

  width: 100%;
  height: 15.8rem;

  background-color: #00c8ff;
}

.toogle-menu {
  display: block;
}

.menu-opened-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-opened-items p {
  color: #fff;

  text-transform: uppercase;

  font-weight: 500;
  font-weight: 0.87em;

  cursor: pointer;
}

.close-menu-icon {
  width: 2em;
  height: 2em;

  margin: 1em 0em 0em 1em;
}

.icons-wrapper {
  height: 1.6em;
  width: 96%;

  margin: 1.8em auto;

  display: grid;
  grid-template-columns: 0.2fr 1fr 0fr;
}

.shopping-cart {
  margin: auto;
}

.logo {
  margin: 0 auto;
}

span {
  display: none;
}

@media (min-width: 480px) {
  header {
    height: 8.6rem;

    background-color: #00c8ff;

    display: flex;
    flex-direction: column;

    padding: 0rem 1em 0rem 1em;
  }

  .icons-wrapper {
    height: 1.6em;
    width: 96%;

    margin: 1.8em auto;

    display: grid;
    grid-template-columns: 0.2fr 1fr 0fr;
  }

  .shopping-cart {
    margin: auto;
  }

  .logo {
    margin: 0 auto;
  }

  .toogle-menu {
    display: block;
  }

  span {
    display: none;
  }
}

@media (min-width: 769px) {
  header {
    height: 8.6rem;

    background-color: #00c8ff;

    padding: 0;

    display: flex;
    flex-direction: column;
  }

  .icons-wrapper {
    height: 5.4rem;
    width: 100%;

    border-bottom: 1px solid #c4c4c4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    margin: 0;
  }

  .menu-mobile {
    display: none;
  }

  .logo {
    margin: 0;

    padding-left: 6.8em;
  }

  .shopping-cart {
    margin: 0;

    cursor: pointer;
  }

  .toogle-menu {
    display: none;
  }

  span {
    display: block;

    font-size: 0.87em;
    font-weight: 400;

    color: #fff;

    text-transform: uppercase;

    cursor: pointer;
  }

  span:hover {
    color: #eee;

    transition: 0.3s;
  }

  .cart-and-text-wrapper {
    width: 6.5rem;

    margin-right: 2.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 16em;

    margin: 0.87em 0em 0em 6.8em;
  }

  .bottom-header-text {
    color: #fff;

    font-size: 0.87em;
    font-weight: 500;
  }
}
