@media (max-width: 360px) {
  footer {
    background-color: #585858;

    height: 7.75rem;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .payments {
    padding-top: 1rem;

    width: 16.4em;
  }

  .lorem-text-mobile {
    font-family: "Roboto", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;

    color: #fff;

    margin-top: 1em;
  }

  .lorem-text-desktop {
    display: none;
  }

  .banner {
    margin: 1em 0em;
  }

  .lorem-and-banner-wrapper {
    width: 100%;
  }

  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 361px) {
  footer {
    background-color: #585858;

    height: 7.75rem;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .payments {
    padding-top: 1rem;
  }

  .lorem-text-mobile {
    font-family: "Roboto", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;

    color: #fff;

    margin-top: 1em;
  }

  .lorem-text-desktop {
    display: none;
  }

  .banner {
    margin: 1em 0em;
  }

  .lorem-and-banner-wrapper {
    width: 100%;
  }
}

@media (min-width: 769px) {
  footer {
    background-color: #585858;

    height: 4.06rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .payments {
    position: absolute;

    margin-left: 0;
  }

  .lorem-text-mobile {
    font-family: "Roboto", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;

    color: #fff;

    margin-top: 1em;

    display: none;
  }

  .lorem-text-desktop {
    font-family: "Roboto", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;

    color: #fff;

    display: block;

    padding-left: 2em;

    position: absolute;
    left: 1rem;
  }

  .banner {
    margin: 1em 0em;

    position: absolute;
    right: 2rem;
    bottom: 0.3rem;
  }

  .lorem-and-banner-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
  }

  .footer-content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }
}

/* ### Only for payments banner */
@media (min-width: 769px) and (max-width: 900px) {
  .payments {
    width: 16.3rem;
    height: 1.6em;

    padding-bottom: 0.5rem;
  }
}
