.form-wrapper {
  height: 40.9rem;
  width: 24.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 6.1rem;
}

.form-wrapper p {
  font-weight: 400;
  font-size: 0.81rem;

  color: #7d7d7d;
}

.form-wrapper strong {
  font-size: 1.5rem;
  font-weight: 400;

  text-transform: uppercase;
}

input {
  width: 24.4rem;
  height: 2.9rem;

  border: 1px solid #100d0e;
  border-radius: 25px;

  outline: 0;

  padding-left: 1.7rem;

  margin: 0.26rem 0rem 0.75rem 0rem;
}

form {
  height: 100%;
}

.form-title {
  margin-bottom: 1rem;
}

label {
  font-size: 0.87rem;

  padding-left: 1rem;
}

.declaracao-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper .declaracao-wrapper strong {
  font-weight: 400;
  font-size: 0.87rem;
  font-family: "Proxima Nova";

  text-transform: none;

  margin-right: 0.5rem;
}

input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
}

input[type="submit"] {
  background-color: #03bffe;

  border: none;

  color: #fff;

  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 1rem;

  text-transform: uppercase;

  cursor: pointer;

  height: 3.2rem;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #60d7ff;

  transition: 0.3s;
}

.fields-wrapper {
  position: relative;
}

.form-invalid-feedback {
  position: absolute;
  bottom: 0;

  font-size: 0.7rem;

  padding-left: 1rem;

  color: darkred;
}

@media (max-width: 768px) {
  .fields-wrapper {
    width: 100%;
  }
  label {
    padding-left: 1rem;
  }

  input {
    width: 90%;
  }

  .texts-wrapper {
    margin: 0;
    width: 100%;
  }
}
